$light-grey-bg: #f0f0f0;
$light-grey: #A6A6A6;
$dark-grey: #3A3A3A;
$light-green: #a4c400;
$medium-green: #91C155;
$dark-green: #4FAC41;
$very-dark-green: #0E8E57;
$orange: #F15A23;
$font-color: #606060;
$images-bg: #4F4F4F;

$sidebar-width: 263px;

$git-color-1: #eee;
$git-color-2: #d6e685;
$git-color-3: #8cc665;
$git-color-4: #44a340;
$git-color-5: #1e6823;
