/*TODO: make heading styles independent of specific tags*/

@import "_variables.scss";

body {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #606060;
}

h1, h2, h3, h4, h5{
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 18px;
    line-height: 22px;
}

h2{
    font-size: 15px;
    line-height: 21px;
}

h3{
    font-size: 13px;
}

h5{
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-grey;
}

p {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 19px;
}

a {
    color: #4FAc41;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.typography {
    strong {
        font-weight: bold;
    }
    ul {
        margin-bottom: 10px;
        margin-left: 15px;
        padding: 5px 0 5px 0;
        list-style: disc;
    }
    li {
        line-height: 21px;
    }
}

/* WYSIWYG EDITOR ALIGNMENT CLASSES
-------------------------------------------- */
.typography .left {
    text-align: left
}
.typography .center {
    text-align: center
}
.typography .right {
    text-align: right
}
/* IMAGES
-------------------------------------------- */
.typography img {
    border: none;
    padding-bottom: 10px;
}
.typography img.right {
    float: right;
    margin-left: 20px;
}
.typography img.left {
    float: left
}
.typography img.leftAlone {
    float: left;
    margin-right: 100%;
}
.typography img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}