[submodule "googlesitemaps"]
	path = googlesitemaps
	url = https://github.com/silverstripe-labs/silverstripe-googlesitemaps.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/silverstripe/silverstripe-widgets.git
[submodule "staticpublisher"]
	path = staticpublisher
	url = https://github.com/silverstripe-labs/silverstripe-staticpublisher.git
