[submodule "googlesitemaps"]
	path = googlesitemaps
	url = https://github.com/silverstripe-labs/silverstripe-googlesitemaps.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/silverstripe/silverstripe-widgets.git
[submodule "staticpublisher"]
	path = staticpublisher
	url = https://github.com/silverstripe-labs/silverstripe-staticpublisher.git
[submodule "framework"]
	path = framework
	url = https://github.com/silverstripe/silverstripe-framework.git
[submodule "cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms.git
